node_modules
npm-debug.log
.env
.env.local
.git
.gitignore
README.md
.eslintrc.json
.next
.nyc_output
.vscode
coverage
.DS_Store
*.log
logs
pids
*.pid
*.seed
*.pid.lock
lib-cov
coverage
.grunt
.lock-wscript
build/Release
jspm_packages/
web_modules/
*.tsbuildinfo
.npm
.eslintcache
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/
.cache
.parcel-cache
.next
out
.nuxt
dist
.cache/
.vuepress/dist
.serverless/
.fusebox/
.dynamodb/
.tern-port
.local
.replit*